<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <link rel="apple-touch-icon" href="favicon.png"/>
    <link rel="Shortcut Icon" href="favicon.png" type="image/x-icon"/> 
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="font-awesome/css/font-awesome.min.css"/>
    <link type="text/css" rel="stylesheet" href="styles.css">
    <link type="text/css" rel="stylesheet" href="statuses.css">
    <title>TransView</title>
  </head>
  <body>
  <div id="pane-socialnet" class="pane">
    <div class="content" id="account-pane">
      <ul id="account-list">
        <li class="btn title"><i class="icon-group"></i>账号列表</li>
      </ul>
    </div> 
    <div class="content" id="weibo-pane" style="display:none">
      <select id="timeline-select">
        <option value="home_statuses">我的首页</option>
        <option value="mention_statuses">@我的微博</option>
        <option value="mentions_in_comments">@我的评论</option>
        <option value="comments_to_me">收到的评论</option>
        <option value="accounts_statuses">发布的微博</option>
        <option value="comments_by_me">发出的评论</option>
      </select>
      <div class="weibo-list">

      </div>
    </div>
  </div>
  <div id="pane-monitor" class="pane">
    <div class="content">
      <div></div>
    </div>
  </div>
   <div class="bottom-bar">
    <ul>
      <li class="active">
        <a href="javascript:void(0)"><i class="icon-user"></i>社交网络</a>
      </li>
      <li>
        <a href="javascript:void(0)"><i class="icon-home"></i>监测主题</a>
      </li>
      <li>
        <a href="javascript:void(0)"><i class="icon-search"></i>监控微博</a>
      </li>
    </ul>
   </div>
    <div class="modal hide fade" id="page_mask" style="margin-top:300px">
      <div class="modal-body" style="border-radius:5px;text-align:center;font-size:3em">
        <p><i class="icon-spinner icon-spin"></i>&nbsp;&nbsp;数据加载中...</p>
      </div>
   </div>
  </body>
<script type="text/template" id="Tmp-status">
  <div class="Status-single" is-comment="<%= is_comment %>" data-id="<%= id %>" data-platform="<%= platform %>" action-source = "<%= action_source %>" data-type="<%= data_type %>" action-send-id="<%= action_send_id %>">
    <div class="S-face">
      <a href="<%= u_link %>" target="_blank">
        <img src="<%= u_avatar %>"></img>
      </a>
      <% if (pan) { 
        if (pan.val > 0) { %>
          <span class="badge badge-success">正面</span>
        <% } else if (pan.val < 0) { %>
          <span class="badge badge-important">负面</span>
        <% } else { %>
          <span class="badge badge-info">中性</span>
        <% } 
      } %>
    </div>
    <div class="S-detail">
      <div class="U-info" data-id = "<%= u_id %>">
        <a href="<%= u_link %>" target="_blank"><%= u_name %></a>
        <a><i class="icon <%= CRM_Status.verify_map[u_verify] %>"></i></a>
        <a>
          <% if (platform === "sina") { %>
            <i class="icon icon-sina"></i>
          <% } %>
          <% if (platform === "tencent") { %>
            <i class="icon icon-tencent"></i>
          <% } %>
        </a>
      </div>
      <div class="S-text"><%= s_text %></div>
      <% if (s_pic) { %>
      <div class="S-pic">
        <img src="<%= s_pic %>"></img>
      </div>
      <% } %>
      <% if (repost_block) { %>
      <div class="U-media-expand well" data-id="<%= repost_block.id %>">
        <div class="U-info">
          <a href="<%= repost_block.u_link %>" target="_blank"><%= repost_block.u_name %></a>
        </div>
        <div class="S-text"><%= repost_block.s_text %></div>
        <% if (repost_block.s_pic) { %>
          <div class="S-pic">
            <img src="<%= repost_block.s_pic %>"></img>
          </div>
        <% } %>
        <div class="S-func">
          <a target="_blank" href="<%= repost_block.s_link %>" class="S-time"><%= repost_block.c_date %></a>
          <span class="S-txt1">来自</span>
          <%= repost_block.s_source %>
        </div>
      </div>
      <% } %>
      <div class="S-func clearfix">
        <a target="_blank" href="<%= (function(){ if (is_comment) { return repost_block.s_link } else { return s_link }})() %>" class="S-time origin">
          <%= c_date %>
        </a>
        <span class="S-txt1">来自</span>
        <%= s_source %>
        <span class="S-isdeal">
        <% if (is_deal === "completed") { %>
          <i class='icon-ok'></i><span class="S-txt2">已处理</span>
        <% } %>
        <% if (is_deal === "waiting") { %>
          <i class='icon-time'></i><span class="S-txt2">待处理</span>
        <% } %>
        </span>
        <div class="pull-right">
        <% if (func_config.flash!== undefined) { %>
          <a class="unuse" href="javascript:void(0)" data-toggle="tooltip" title="曝光"><i class="icon-rss"></i><span class="S-txt2">(<%= Math.ceil(func_config.flash) %>)</span></a>
        <% } %>
        <% if (func_config.eyeball!== undefined) { %>
          <a class="unuse" href="javascript:void(0)" data-toggle="tooltip" title="眼球"><i class="icon-eye-open"></i><span class="S-txt2">(<%= Math.ceil(func_config.eyeball) %>)</span></a>
        <% } %>
        
        <% if (func_config.comment) { %>
          <a href="javascript:void(0)" data-toggle="tooltip" 
            <% if (func_config.comment.func) { %>
              data-action="comment"
            <% } %>
          title="评论">
            <i class="icon-comments"></i>
            <span class="S-txt2">
              <% if (func_config.comment.count!== undefined) { %>
                (<%= func_config.comment.count %>)
              <% } %>
            </span>
          </a>
        <% } %>

        <% if (func_config.repost) { %>
          <a href="javascript:void(0)" data-toggle="tooltip" 
            <% if (func_config.repost.func) { %>
              data-action="repost"
            <% } %>
            <% if (repost_block) { %>
              data-copy="on"
            <% } %>
          title="转发">
            <i class="icon-retweet"></i>
            <span class="S-txt2">
            <% if (func_config.repost.count!== undefined) { %>
              (<%= func_config.repost.count %>)
            <% } %>
            </span>
          </a>
        <% } %>
        <% if (func_config.monitor) { %>
          <a href="javascript:void(0)" data-toggle="tooltip" 
          <% if (!func_config.monitor.state) { %>
            data-action="monitor" 
          <% } %>
            title="监控"><i class="icon-flag"></i><span class="S-txt2">
            <% if (func_config.monitor.state) { %>
              (已监控)
            <% } %>
            </span></a>
        <% } %>
        <% if (func_config.assign) { %>
          <a href="javascript:void(0)" data-toggle="tooltip" data-action="create" title="指派"><i class="icon-hand-right"></i><span class="S-txt2"></span></a>
        <% } %>
        </div>
        
      </div>
      
    </div>
  </div>
</script>
<script type="text/template" id="tpl-permission">
  <div>
    <div class="comment">true</div>
    <div class="monitor">true</div>
    <div class="repost">true</div>
    <div class="assign">true</div>
  </div>
</script> 
  <script>
    var network_id = "512b3960b1894c461507d1ec";
    var openname = "liz.lihs@gmail.com";
    var open_access_token = "3f3c2a0fc9784f8e70cc6828a3a50b934f97eb45";
    var group_id = "5141fbb507ea451e9db9f224";
    var serverHost = "http://116.213.213.93:8080/social_api"
  </script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="highcharts.js"></script>
  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="underscore.js"></script>
  <script src="main.js"></script>
  <script src="socialnet.js"></script>
  <script src="monitor.js"></script>
</html>
